body {
    padding: 10px;
    padding-top: 65px;
}

.img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.title {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.center {
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}

.container-sm {
    width: 10%;
}

/* adds a drop shadow 
.shadow {
    -moz-box-shadow: 0 0 30px 5px #999;
    -webkit-box-shadow: 0 0 30px 5px #999;

} 
*/

.error {
    padding: 10px;
    background-color: lightcoral;

}

.success {
    padding: 10px;
    background-color: lightgreen;

}