{% extends "auctions/layout.html" %}
{% load humanize %}
{% load l10n %}

{% block body %}
  <!-- header -->
  <h2 class="title text-center" style="padding-top: 20px; padding-bottom: 10px;">Closed Auctions</h2>
  <div class="border-bottom" style="margin-bottom: 10px;"></div>

{% for listing in listings %}
{% if listing.active == False %}

<div>{{ listing.title }}</div>
<div>Winner: {{ listing.bid_winner}} </div>

{% endif %}
{% empty %}
<div class="title text-center">
    <br>
    <small>No closed auctions.</small>
</div>
{% endfor %}

{% endblock %}