{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="text-center title" style="padding-top: 20px;">New Listing <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
      <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
      <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
    </svg></h1>

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6 pt-2">
            <form action="{% url 'create' %}" method="POST">
                {% csrf_token %}

                
                <div class="form-group">
                  <label for="title">Listing Title:</label>
                  <input type="text" name="title" class="form-control" id="title" placeholder="Title...">
                </div>
                
                <div class="form-group">
                  <label for="description">Description:</label>
                  <input type="text" name="description" class="form-control" id="description" placeholder="Description...">
                </div>
                <div class="form-group">
                  <div class="input-group mb-3">

                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    <input type="number" min="0" step="0.01" name="price" class="form-control" id="price" placeholder="Price...">
                  </div>
                  <div class="form-group">

                    <label for="Image">Image: (optional)</label>
                    <input type="text" name="image" class="form-control" id="image" placeholder="Image url...">
                  </div>

                  <div class="form-group">
                    <label for="category">Category:</label>
                    <select name="category" id="category">
                        {% for cat in categories %}
                        <option value="{{ cat }}">{{ cat }}</option>
                        {% endfor %}
                    </select>
                  </div>
          <div class="form-group my-4">
            <button type="submit" class="btn btn-primary btn-customized btn-block">Submit</button>
        </div>
        </div>
    </div>
{% endblock %} 