{% extends "auctions/layout.html" %}

{% block title %}{{ listing.title }} {% endblock %}

{% block body %}

{% if listing.active == False %}
    <div class="alert alert-dark text-center" role="alert">
        Auction ended.
    </div>
{% endif %}

<div class="container-lg pt-2 pb-3">
    <!--Image and Price section-->
    <div class="row mt-2 align-items-center">
        
        <!-- Image -->
        <div class="col-md-6 col-12 d-flex">
            <img style="max-height: 450px;" class="img-fluid mx-auto" src="{{ listing.imageURL }}">
        </div>

        <!-- Listing Information and Bid Form -->
        <div class="col-md-6 col-12 border align-self-center pt-4 px-4">

            <!-- Watchlist -->
            {% if user.is_authenticated %}
            <div class="text-right pb-3">
                        {% if listing_in_watchlist %}
                    <form action="{% url 'remove_watchlist' id=listing.id %}" method="POST" class="d-inline-block">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fa fa-minus" aria-hidden="true"></i> Remove from Watchlist</button>
                    </form> 
                {% else %}
                    <form action="{% url 'add_watchlist' id=listing.id %}" method="POST" class="d-inline-block">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Add to Watchlist</button>
                        {% endif %}
                    </form>
                </div>
            {% endif %}

            <!-- Listing information -->
            <h3 class="m-0 pb-3">{{ listing.title }}</h3>
            <p class="my-1 pb-3">
                <small><em>"{{ listing.description }}"</em></small>
            </p>
            <p>
                <small>Auction created by: {{ listing.owner }}</small>
            </p>
            
            <!-- Bid section -->
            <div class="text-center my-4">
                <h5 class="pt-2">
                    {% if listing.active %}Current bid:{% else %} Winning bid: {% endif %} <strong>${{ listing.price.bid }}</strong>
                </h5>
                
                {% if listing.active %}
                    <!-- Badges -->
                    <small class="mt-0"><span class="badge badge-pill badge-light">{{ listing.no_of_bids }} bid(s).</span></small>
                    <small>
                        <span class="badge badge-pill badge-success">Your bid is the highest bid.</span>
                    </small>
                    {% endif %}
                    
                    <!-- Bid form -->
                    {% if user.is_authenticated %}
                    <div class="pt-2">
                        
                        <div class="row pt-2">
                            <div class="col-md-6 col-sm-10 m-auto">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                        {% for field in form %}
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                                </div>
                                                {{ field }}
                                            </div>
                                        {% endfor %}
                                
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col text-center my-1">
                                <input class="btn btn-primary ml-2" type="submit" value="Place bid">
                            </form>
                                <!-- Close auction -->
                                {% if user.is_authenticated and user == listing.author and listing.active %}
                                <form action="" method="POST" class="d-inline-block">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger ml-1">Close auction</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                                
                                </div>
                            </div>
                        

                    <!-- Message for user not logged in -->
                    {% else %}
                        <p class="text-danger pt-1">
                            <small>Please <strong><a href="{% url 'login' %}" class="text-danger">sign in</a></strong> to place your bid.</small>
                        </p>
                    </div>
                    {% endif %}
                
                <!-- If listing not active, show winner -->
                    
                    {% if listing.current_winner == user %}
                        <span class="badge badge-secondary badge-success">You won this auction!</span>
                    {% endif %}

            </div>
        </div>
    </div>
    <!--Comment section-->
    <div class="row py-4 justify-content-center">
        <div class="col col-sm-10 mx-3 mx-sm-0">
        <h4>Comments <span class="badge badge-secondary"></span></h4>
        {% if user.is_authenticated %}
            <form action="{% url 'add_comment' id=listing.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group pt-2">
                    <input type="text" name="new_comment" placeholder="Add comment...">
                </div>
                <div class="form-group text-right mb-2">
                    <input value="Add comment" class="btn btn-primary" type="submit">
                </div>
            </form>
        {% else %}
        <p class="text-danger"><small>Please <strong><a href="{% url 'login' %}" class="text-danger">sign in</a></strong> to add a comment.</small></p>
        {% endif %}
    </div>

</div>

    <div class="container">
        {% for comment in all_comments %}
            <div class="row border bg-light py-2 mx-0 mx-md-3 mb-3">
                <div class="col-6">
                    <p>Posted by <strong>{{ comment.author }}</strong></p>
                </div>
                <div class="col-6 text-right text-muted">
                    <small><em>{{ comment.time }}</em></small>
                </div>
                <div class="col-xl-12 pt-1">
                    {{ comment.message }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
