{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="title text-center" style="padding-top: 20px; padding-bottom: 10px;">Watchlist</h2>
    <div class="row mb-3 watchlist border-bottom mx-auto"></div>
      
    {% for listing in listings %}
    <div class="row mb-3 watchlist border-bottom mx-auto">
    <div class="card m-2 border-bottom" style="width: 18rem;">
        <img class="card-img-top" src="{{ listing.imageURL }}" alt="{{ listing.title }}">
      </div>
        <div class="card-body">
          <h5 class="card-title text-truncate">{{ listing.title }}</h5>
          <div class="d-flex justify-content-between">
            <h5 class="card-text p-2"><strong>${{ listing.price.bid }}</strong></h5>
          </div>
            <span class="p-2">bids</span>
          <p class="card-text text-truncate"><small>{{ listing.description }}</small></p>
          <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Details</a>
        </div>
        </div>
        </div>
      </div>
  
    {% empty %}
    <div class="title text-center">No items in watchlist.</div>
    {% endfor %}

{% endblock %}